<!-- <link rel="import" href="../../bower_components/polymer/polymer-element.html"> -->
<link rel="import" href="../bower_components/polymer/polymer-element.html">

<dom-module id="log-list">
    <template>
        <style>
            :host {
                display: block;
                width: 100%;
            }
            log-item {
                margin: 20px auto 0;
            }

            log-item.self {
                border-bottom-color: #f8688a;
            }

            log-item:first-child {
                margin-top: 0;
            }
        </style>
        <slot></slot>
    </template>
    <script>
        class LogList extends Polymer.Element {
            static get is(){
                return 'log-list';
            }
        }
        window.customElements.define(LogList.is, LogList);
    </script>
</dom-module>
